.container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.goBackBtn {
  background-color: rgb(168, 245, 185);
  margin-left: 10px;
  border: 1px solid #0d0d0e;
  width: 100px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

.goBackBtn:hover,
.goBackBtn:focus {
  color: rgb(8, 212, 35);
  background-color: rgb(226, 240, 101);
  border: 1px solid rgb(8, 212, 35);
}

.goBackIcon {
  margin-right: 5px;
}

.movieDetail {
  display: flex;
  border-bottom: 2px solid rgb(8, 212, 35);
  padding: 5px;
}

.moviePoster {
  width: 300px;
  margin-right: 20px;
}

.movieTitle {
  color: rgb(24, 134, 2);
  font-size: 1.6em;
}

.movieInfo {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.additionalInfo {
  border-bottom: 2px solid rgb(8, 212, 35);
  padding: 5px;
}

.link {
}

.item:hover {
  color: rgb(16, 167, 48);
}
